.footer{
    width: 100%;
    background-color: #2B342A;
    padding: 40px 40px 0px 40px;
}

.footer-links-box{ 
    width: 100%;
    display: flex;
    flex-direction: column;
}

.footer-links-div{ 
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    text-align: left;
    margin-bottom: 20px;
}

.footer-links{ 
    width: 160px;
    margin: 10px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    color: #D8D8D8;
}

.secao-redes-sociais{
    display: flex;
    flex-direction: column;
}

.secao-redes-sociais a{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.secao-redes-sociais img{
    width: 18px;
    height: 18px;
    flex-shrink: 0;
}

.secao-redes-sociais p{
    padding-left: 10px;
}

.footer-links h2{
    color: white;
    font-size: 20px;
    line-height: 22px;
    margin-bottom: 10px;
}

.footer-links p, a{
    font-size: 18px;
    line-height: 20px;
    text-decoration: none;
    color: #D8D8D8;
    margin: 2.5px 0;
    cursor: pointer;
}

.footer-baixo{
    display: flex;
    justify-content: center;
}

/*Responsividade para tela de celulares, diminuindo o margin do footer*/
@media screen and (max-width:600px) {
    .footer{
        padding: 20px 20px 0px 20px;
    }

}